body {
	margin: 0 auto;
}


ul {
	margin-top: 0px;
	padding-top: 10px;

}

li {
	height: 300px;
	display: inline-block;
	list-style: none;
	padding: 10px 30px;
	text-align: center;
	transition: all 0.52s linear;
	-webkit- transition: all 0.5s linear;
	width: 180px;
	/*border: 1px solid black;*/
}


li:hover {
	color: #BBC9E0;
}

nav ul li h4 {
	font-family: 'Montserrat', sans-serif;
}

p {
	text-align: justify;
}
