body {
	margin: 0 auto;
	
}
#title {
	top: 0px;
	height: 50px;
	background: #FFC107;
}

#title p {
	color: black;
	margin-top: 0px;
	position: relative;
	left: 500px;
	top: 10px;
}

#triptych {
	margin: 0 auto;
	position: relative;
	display: inline-block;
}

#box_one{
	width: 420px;
	height: 500px;
	float: left;
	border: 1px solid black;
	float: left;
}

#box_one > p {
	padding: 15px 15px 15px 15px;
	text-align: justify;
}

#box_two {
	width: 420px;
	height: 500px;
	float: left;
	border: 1px solid black;
}

#box_two > p {
	padding: 15px 15px 15px 15px;
	text-align: justify;
}

#box_three {
	width: 420px;
	height: 500px;
	float: right;
	border: 1px solid black;
	float: right;
}

#box_three > p {
	padding: 15px 15px 15px 15px;
	text-align: justify;
}

#foot {
	top: 0;
	height: 25px;
	background: #FFC107;
	margin-top: 0px;
	text-align: center;
}